<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MakerlabX3DPrinting QA</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="chat-container">
    <div class="chat-header">
        <h4>Makerlab Q&A Bot</h4>
        <i class="fa fa-close chat-close"></i>
    </div>
    <div class="chat-body chat-messages round"></div>
    <div class="chat-input">
        <input type="text" placeholder="Type your message">
        <button class="chat_submit">Send</button>
    </div>
</div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-sY2t8W1xNQ2yB+1RFXJv+wwhdN7CHX9Z+fhM7JH/3B3q1x7VJBOwKe+zb7VW0EC8XG5M5rjBQd7+47F5fQlhKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</body>
</html>
